h1{
    font-size: 3rem;
    padding: 20px;
    text-align: center;
    border: double 40px blanchedalmond;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
body{
    background-color:#c4cc8c;
    padding: 10px 30px 10px 30px;
    
}
#person{
    padding: 20px;
    text-align: center;
}
.info{
    border: solid 10px blanchedalmond;
    padding: 30px;
}
input{
    margin: 5px;
}
.red{
    
    background-color: red;
    height: 60px;
    width: 60px;
    margin: 10px;
}
.green{
    
    background-color: #44ff6d;
    height: 60px;
    width: 60px;
    margin: 10px;
}
.blue{
    
    background-color: rgb(75,50,255);
    height: 60px;
    width: 60px;
    margin: 10px;
}
.purple{
    background-color: rgba(135, 37, 226, 0.445);
    height: 60px;
    width: 60px;
    margin: 10px;
}
.colors{
    border:solid 10px blanchedalmond;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}
footer{
    border: solid 10px blanchedalmond;
    background-color: blanchedalmond;
    border-radius: 50px;
    margin-top: 20px;
    text-align: center;
    font-style: italic;
}

button{
    border:outset;
}
button:focus{
   outline:none;
   border:inset
}
input:focus{
    outline: none;
}