h1{
    font-size: 3rem;
    padding: 20px;
    text-align: center;
    border: double 40px blanchedalmond;
    border-radius: 50px;
    font-family: 'Courier New', Courier, monospace;
    
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
body{
    background-color:#c4cc8c;
    padding: 30px;
    
}
#person{
    padding: 20px;
    text-align: center;
}
.info{
    border: solid 10px blanchedalmond;
    padding: 30px;
}
input{
    margin: 5px;
}
.red{
    
    background-color: red;
    height: 60px;
    width: 60px;
    margin: 10px;
}
.green{
    
    background-color: #44ff6d;
    height: 60px;
    width: 60px;
    margin: 10px;
}
.blue{
    
    background-color: rgb(75,50,255);
    height: 60px;
    width: 60px;
    margin: 10px;
}
.colors{
    border:solid 10px blanchedalmond;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}